/* Navbar */

header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/header.jpg);
    height: 400px;
    background-size: cover;
    color: #FFFFFF;
}

.navbar-brand {
    font-family: Courgette;
    font-size: 2rem;
}

#white-logo {
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

#title-holder,
#subtitle-holder {
    font-family: Courgette;
    font-size: 2rem;
    text-align: center;
}


/* cards */

.d-flex h3 {
    font-family: Oswald;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.post-body p {
    font-family: Oswald;
    justify-content: center;
    font-weight: normal;
}

.post-body h5 {
    font-family: Courgette;
}

#crepe-image {
    align-items: center;
    max-width: 100%;
    height: auto;
}

#berry-image {
    align-items: center;
    width: 100%;
}

#pasta-image {
    align-items: center;
    width: 100%;
}

.d-inline-flex span {
    font-family: Oswald;
    justify-content: left;
    font-weight: normal;
    padding: 40px;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
}

footer h5 {
    font-family: Courgette;
    font-size: 2rem;
}

.d-flex span {
    font-family: Oswald;
    font-size: 1rem;
}

#category-links ul {
    font-family: Oswald;
}

#calendar-links ul {
    font-family: Oswald;
}

#socialMediaLinks i {
    color: #FFFFFF;
}